parameters:
    excludePaths:
        - 'src/Console/Installer.php'
    ignoreErrors:
        - '#Method App\\Model\\Index\\SearchIndex::initialize\(\) has parameter \$config with no value type specified in iterable type array#'
